In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
data = pd.read_csv("2080.csv", header=[0,1])
df = pd.DataFrame(data)
# df.columns[:8] = [("school_info", ) ]
info_cols = [("school_info", s) for f, s in df.columns[:8]]
rest_cols = []
valid_row = ""
for col in df.columns[8:]:
    if "Unnamed" in col[0]:
        rest_cols.append((valid_row, col[1]))
    else:
        valid_row = col[0]
        rest_cols.append((valid_row, col[1]))

rest_cols

info_cols.extend(rest_cols)

df.columns = pd.MultiIndex.from_tuples(info_cols)
# df.index = df["school_info"]["S.N."] # making S.N the index
df.head()

  school_info
         S.N. District       Code                   Under
0   260030001  Bagmati  Bhaktapur  Bhaktapur Municipality  \
1   260030002  Bagmati  Bhaktapur  Bhaktapur Municipality
2   260030003  Bagmati  Bhaktapur  Bhaktapur Municipality
3   260030005  Bagmati  Bhaktapur  Bhaktapur Municipality
4   260030006  Bagmati  Bhaktapur  Bhaktapur Municipality

                                                            ECD/PPC Total
                         Name     Type  Ward           City             G   B
0               Santati Pra V   Public   1.0      Bhaktapur            15  36  \
1     Bal Mandir Basic School   Public   4.0  Durbar Chetra            18   6
2   Bhim Adarsha Basic School   Public   8.0         Liwali            17  20
3  Samata Sikshya Niketan Ebs  Private  10.0   Kamalbinayak            19  19
4       Janasewa Basic School   Public   4.0    Mangalachen            13   9

   ... G11 G12       G11-12         Total
   ...   T   G  B  T      G   B   T     G    B    T
0  ...   0   0  0  0      0   0   0    64   88  152
1  ...   0   0  0  0      0   0   0    25    8   33
2  ...   0   0  0  0      0   0   0    39   49   88
3  ...  14   1  1  2      4  12  16   111  126  237
4  ...   0   0  0  0      0   0   0    51   42   93

[5 rows x 62 columns]

In [3]:
df.index = df["school_info"]["S.N."].to_list()
# df["school_info"]
df.head()

          school_info
                 S.N. District       Code                   Under
260030001   260030001  Bagmati  Bhaktapur  Bhaktapur Municipality  \
260030002   260030002  Bagmati  Bhaktapur  Bhaktapur Municipality
260030003   260030003  Bagmati  Bhaktapur  Bhaktapur Municipality
260030005   260030005  Bagmati  Bhaktapur  Bhaktapur Municipality
260030006   260030006  Bagmati  Bhaktapur  Bhaktapur Municipality


                                 Name     Type  Ward           City
260030001               Santati Pra V   Public   1.0      Bhaktapur  \
260030002     Bal Mandir Basic School   Public   4.0  Durbar Chetra
260030003   Bhim Adarsha Basic School   Public   8.0         Liwali
260030005  Samata Sikshya Niketan Ebs  Private  10.0   Kamalbinayak
260030006       Janasewa Basic School   Public   4.0    Mangalachen

          ECD/PPC Total      ... G11 G12       G11-12         Total
                      G   B  ...   T   G  B  T      G   B   T     G    B    T
260030001            15  36  ...   0   0  0  0      0   0   0    64   88  152
260030002            18   6  ...   0   0  0  0      0   0   0    25    8   33
260030003            17  20  ...   0   0  0  0      0   0   0    39   49   88
260030005            19  19  ...  14   1  1  2      4  12  16   111  126  237
260030006            13   9  ...   0   0  0  0      0   0   0    51   42   93

[5 rows x 62 columns]

In [4]:
# con = sqlite3.connect(":memory")
# school_db = df["school_info"].to_sql("school", con=con)

In [5]:
# pd.read_sql("select * from school", con)
# con.close()

In [6]:
# lookup for certain school
# df.loc[260030001, "G2"]

# lookup for certain grade throughout the country
df["G10"].sum()

G    247633
B    251894
T    499527
dtype: int64

In [7]:
# df.groupby()

In [8]:
df[[f"G{grd}" for grd in range(1,13)]]

           G1          G2          G3          G4  ...  G9 G10       G11
            G   B   T   G   B   T   G   B   T   G  ...   T   G  B  T   G   B
260030001  13   8  21   4   6  10  11   9  20   8  ...   0   0  0  0   0   0  \
260030002   5   1   6   2   1   3   0   0   0   0  ...   0   0  0  0   0   0
260030003   7   3  10   5   5  10   1   3   4   1  ...   0   0  0  0   0   0
260030005   4  10  14   2   1   3  11  12  23   6  ...  21   1  0  1   3  11
260030006  16  14  30   6   6  12   6   5  11   3  ...   0   0  0  0   0   0
...        ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  .. .. ..  ..  ..
720130017   7   5  12   4   4   8   4   2   6   0  ...   0   0  0  0   0   0
720130018   6  17  23  19  23  42   5  15  20  10  ...   0   0  0  0   0   0
720130024  10   8  18   8  12  20   9  11  20  10  ...   0   0  0  0   0   0
720130025   6  11  17  15  25  40  19  31  50  17  ...   0   0  0  0   0   0
720130026  14  21  35   8  13  21  12  17  29   7  ...   0   0  0  0   0   0

              G12
            T   G  B  T
260030001   0   0  0  0
260030002   0   0  0  0
260030003   0   0  0  0
260030005  14   1  1  2
260030006   0   0  0  0
...        ..  .. .. ..
720130017   0   0  0  0
720130018   0   0  0  0
720130024   0   0  0  0
720130025   0   0  0  0
720130026   0   0  0  0

[36569 rows x 36 columns]

In [10]:
df["school_info"]

,S.N.,District,Code,Under,Name,Type,Ward,City
260030001,260030001,Bagmati,Bhaktapur,Bhaktapur Municipality,Santati Pra V,Public,1.0,Bhaktapur
260030002,260030002,Bagmati,Bhaktapur,Bhaktapur Municipality,Bal Mandir Basic School,Public,4.0,Durbar Chetra
260030003,260030003,Bagmati,Bhaktapur,Bhaktapur Municipality,Bhim Adarsha Basic School,Public,8.0,Liwali
260030005,260030005,Bagmati,Bhaktapur,Bhaktapur Municipality,Samata Sikshya Niketan Ebs,Private,10.0,Kamalbinayak
260030006,260030006,Bagmati,Bhaktapur,Bhaktapur Municipality,Janasewa Basic School,Public,4.0,Mangalachen
...,...,...,...,...,...,...,...,...
720130017,720130017,Sudurpaschim,Kanchanpur,Shuklaphanta Municipality,Janchetana Basic School,Public,1.0,Shuklaphanta
720130018,720130018,Sudurpaschim,Kanchanpur,Shuklaphanta Municipality,"Anupam Educational Academy, Shuklaphanta -01, ...",Private,1.0,Shuklaphanta 01 Bansaha
720130024,720130024,Sudurpaschim,Kanchanpur,Shuklaphanta Municipality,Elegent Holy Ebs,Private,8.0,Ashaina
720130025,720130025,Sudurpaschim,Kanchanpur,Shuklaphanta Municipality,Trishkati Academy Ebs,Private,5.0,Shuklaphanta Municipality
720130026,720130026,Sudurpaschim,Kanchanpur,Shuklaphanta Municipality,Jay Bidya Neketan,Private,3.0,Pipladi